 body{
     display:flex;
     flex-direction: column;
     align-items: center;
 }

 h1{
     color: rgb(218, 0, 145);
     font-weight: bold;
 }

 div{
     margin:10px;
     width:700px;
     background:rgba(255, 68, 230, 0.205);
     display:flex;
     flex-direction: column;
     align-items: center;
     padding-bottom:10px;
 }

 p{
     font-weight:bold;
 }

 #clickme{
     background: none;
     color: black;
     font-weight: bold;
 }

 #example-1{
     font-weight: normal;
 }
